<body class="body relative">
<h1 class="pagetitle pgcard">Cards</h1>

<div class="purpleborder size collection-maincontainer">
  <p class="sticky">{{collection.name}}</p>
  {{!-- <a class="whitetext" href="javascript:history.back()"> </a> --}}

  {{#each collection.cards}}
   <div class="collectioncard">

       <div class="suppmodif">
          <a href="/collection/update-card/{{this._id}}" class="link"><img
              class="icon"
              src="/images/edit.svg"
              alt=""
            /></a>
          <a href="/collection/delete/{{this._id}}" class="link"><img
              class="icon"
              src="/images/trash.svg"
              alt=""
            /></a>
        </div>

<div class="purpleborder parent">

  <a href="dashboard/collection/{{this._id}}">
  <img class="imgdecale" src="{{this.image}}" alt=""/></a>
  <p class="purplefat">{{this.name}}</p>
  <p class="whitetext">{{this.description}}</p>
  <a class="lien" href="{{this.links}}">{{this.links}}</a>

</div>
      
    </div>
{{/each}}
  </div>
</div>

</body>