<body class="body relative">
{{> nav_bar}}
<h1 class="pagetitle pgcard">Cards</h1>

<div class="purpleborder size ">
  <p class="sticky">{{collection.name}}</p>

  <div class="canceldiv">
  <a href="javascript:history.back()"> <img src="/images/close.svg" alt="close"></a>
</div>
  

  {{#each collection.cards}}
   <div class="collectioncard smaller">

       <div class="suppmodif">
          <a href="/collection/update-card/{{this._id}}" class="link"><img
              class="icon"
              src="/images/edit.svg"
              alt=""
            /></a>
          <a href="/collection/delete/{{this._id}}" class="link"><img
              class="icon"
              src="/images/trash.svg"
              alt=""
            /></a>
        </div>

<div class="purpleborder parent">

  <a href="dashboard/collection/{{this._id}}">
  <img class="imgdecalage" src="{{this.image}}" alt=""/></a>
  <p class="purplefat">{{this.name}}</p>
  <p class="whitetext goleft">{{this.description}}</p>
  
  {{#each this.links}}
  <div class="lien">
  <a target="_blank" href="{{this}}">{{this}}</a> 
</div>
{{/each }}

</div>
      
    </div>
{{/each}}

<div class="collectioncard ">

<div class="suppmodif transp">
          <a href="collection/update-collection/{{this._id}}" class="link"><img
              class="icon "
              src="images/edit.svg"
              alt=""
            /></a>
          <a href="collection/delete/{{this._id}}" class="link"><img
              class="icon "
              src="images/trash.svg"
              alt=""
            /></a>
        </div>

    <div class="likethis">
      <div class="imgdecalage violet">
        <a href="/dashboard/collection/{{collection.id}}/add-card"><img  src="/images/plus.svg" alt=""/></a>
        {{!-- /dashboard/add-card/:id  --}}
        </div>
    </div>

  </div>

  </div>

</body>