<body class="body">
<h1 class="pagetitle pgcard">Cards</h1>

<a href="card/add-card">Add a new card</a>
 <a class="white" href="javascript:history.back()"> < Collections </a>

{{#each card}}
<div>
    <h2>Name : {{this.name}}</h2>
    <p>Description : {{this.description}}</p>
    <h3>my links :</h3>
{{!-- add a each ?? --}}
    <a href="{{this.links}}">{{this.links}}</a>

</div>
<a href="/collection/card/update-card/{{this._id}}">Update card</a>
<a href="/collection/card/delete/{{this._id}}">Delete card</a>
{{/each}}

</body>

