<body class="body">

{{!-- <div class="profile-info">
    <ul>
        <li id="first-name">{{currentUser.firstName}}</li>
        <li id="last-name">{{currentUser.lastName}}</li>
        <li id="email">{{currentUser.email}}</li>
        <li id="password">{{currentUser.password}}</li>
    </ul>
</div>
{{currentUser.username}} --}}

<div >
        <p class="fat dablanc">Your profil</p>
        <form method="post" action="/user/{{actualUser._id}}" class="formsign"> 

          <label for="firstName"></label>
          <input
            class="inputone cursor"
            type="text"
            name="firstName"
            value="{{actualUser.firstName}}"
          />
          <label for="lastName"></label>
          <input
            class="inputone cursor"
            type="text"
            name="lastName"
            value="{{actualUser.lastName}}"
          />
          <label for="email"></label>
          <input
            class="inputone cursor"
            type="email"
            name="email"
            value="{{actualUser.email}}"
          />
          {{!-- <label for="password"></label>
          <input
            class="inputone cursor"
            type="password"
            id="password"
            name="password"
            value="{{actualUser.password}}"
          /> --}}
          <button class="button purple">Update</button>
        </form>
<a class="button purple" href="/signout">Log out</a>
      </div>
      
</body>