<h1>user</h1>

<div class="profile-info">
    <ul>
        <li id="first-name">{{currentUser.firstName}}</li>
        <li id="last-name">{{currentUser.lastName}}</li>
        <li id="email">{{currentUser.email}}</li>
        <li id="password">{{currentUser.password}}</li>
    </ul>
</div>
{{currentUser.username}}
